/*  */
.prev-friendlist{
    float: left;
    margin-top: 30px;
    margin-left: 15px;
}
.title-friendlist{
    float: left;
    margin-left: 15px;
    
}
.title1-friendlist{
    margin-left: 45px;
    margin-top: 15px;
    position: absolute;
}